# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*          @franLopezFesac
*.gradle     @franLopezFesac
*.kt         @franLopezFesac
*.xml       @franLopezFesac
*.json       @franLopezFesac
app/*       @franLopezFesac
*       fran.lopez@fesac.es
